.product img{
    width: 286px;
    height: 286px;
}
.product{
    width: 300px;
    height: 510px;
}
.btn-cart{
    width: 100%;
    background: #ffe0b3;
    border: 1px solid #959595;
    border-radius: 0 0 20px 20px;
}