.header{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

.header a{
margin-left: 30px;
color: #FFFFFF;
text-decoration: none;
}
.header a:hover{
    color: red;
}