.header{
    background-color: black;
    display: flex;
    text-align: center;
    height: 80px;
    justify-content: space-between;

}
.header .anchor{
margin-top: 25px;
margin-right: 20px;

}
.header a{
color: #FFFFFF;
text-decoration: none;
padding: 20px;
}
.header a:hover{
    color: black;
    background-color: pink;
    border-radius: 20px;
}
.header img{
    width: 140px;
    height: 43px;
    margin-top: 17px;
    margin-left: 15px;
}